.parent-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tasks{
    display: flex;
    background-color: lightgray;
    border: 3px solid black;
    height: 900px;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 90%;
    justify-content: center;
}